<div class="cl-glob-ModalBackground" [style.display]="'block'">

  <div class="cl-ModalDialog">

    <div class= "grid-wrapper">
        <div class = "r1">
          <h1>{{this.alertTitle}}</h1>
          <h2>{{this.alertDesc}}</h2>
        </div>

        <!-- Cancel Trigger: Close this dialog and go to parent -->
        <libForm-ActionTrigger
        class = "t1"
        (execOnTrigger)= "this.onClickCancel()"
        [actionIcon] = "'&#xe5c9;'"
        [actionText]= "'CANCEL'"
        [disableControl]="false"
        [css]="['rgba(255, 51, 0, 0.753)','none','l']"></libForm-ActionTrigger>

        <!-- Cancel Trigger: Close this dialog and go to parent -->
        <libForm-ActionTrigger
        class = "t2"
        (execOnTrigger)= "this.onClickConfirmTrigger()"
        [actionIcon] = "'&#xe90e;'"
        [actionText]= "'CONFIRM'"
        [disableControl]="false"
        [css]="['rgba(89, 167, 0, 0.753)','none','l']"></libForm-ActionTrigger>
    </div>

  </div> <!-- Modal Dialog -->

</div> <!-- end modal backgroud -->
