* {
    box-sizing: border-box;
}

a
{
    
    font-size: 20px;
    color: rgba(63, 63, 62, 0.685);
    text-align: center;
    text-decoration: none;

    border-bottom:  1px solid rgb(111,111,111);

    padding:10px;
    margin: 0px;
    background: rgba(88, 88, 88, 0.089);
    width: 100%;
    display: block;
}

a:hover
{
    cursor:pointer;
    background-color: yellow;
    color: black;
	border-bottom:   1px solid darkgrey;
}

.leftcolumn {
    float: left;
    padding : 2px;
      width: 100%;
}
/* Right column */
.rightcolumn {
    float: right;
    padding : 2px;
    border-left: 1px solid rgba(200,200,200,1);
    width: 100%;
}
.row
{
    margin-bottom: 15px;
    padding: 2px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.clWidth25Perc
{
  width: 25%;
}
.clWidth50Perc
{
  width: 50%;
}
.clWidth33Perc
{
  width: 33%;
}
.clWidth75Perc
{
  width: 75%;
}
.clWidth66Perc
{
  width: 66%;
}
.clWidth100Perc
{
  width: 100%;
}

.cl-FormSection
{
 
    display: block;
    height: 100%;
    width: auto;
    margin: 1px;
    padding: 5px;
    border: 1px solid rgba(240, 15, 15, 0.192);
}

h2{
    color: rgba(98, 100, 100, 0.671);
    font-variant-caps: small-caps;
    border-bottom: 2px solid rgba(126, 124, 124, 0.19);
    font-size: 32px;
    text-align: left;
    margin: 1%;
}

  .cl-ModalDialog
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;

      padding-left : 1%;padding-right : 1%;
      padding-top : 1%;padding-bottom : 1%;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      z-index: 1;

  }

.cl-AnimatedLabel
{
    /*display: none;*/
    font-size: 14px;
    font-weight: 550;
    pointer-events: none;
    padding: 5px;
    color: rgba(55, 55, 65, 0.904);
 }
input[type=text],input[type=password]
{
    align-self: center;
    margin: 2px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-weight: 450;
    font-variant: normal;
    min-height: 32px;
    display: block;
    border : none;
    border-bottom: 1px solid rgba(98, 99, 98, 0.705);
}

/*invalid input indication*/
.form-control.ng-dirty.ng-touched.ng-invalid
{
    background-color: rgba(255, 217, 0, 0);
    border-bottom: 3px solid rgba(255, 94, 0, 0.959);
}
.form-control.ng-dirty.ng-touched.ng-valid
{
    border-bottom: 3px solid rgba(74, 252, 3, 0.986);
}

/*valid input indication*/

@media screen and (max-width: 600px)
{
    .cl-ModalDialog
    {
        width : 100%;
        height : auto;
        margin: 2px;
    }
    .cl-FormSection,row
    {
        margin: 2px;
    }
    .leftcolumn, .rightcolumn,row,
    .clWidth25Perc,.clWidth33Perc,.clWidth50Perc,.clWidth66Perc,.clWidth75Perc,.clWidth100Perc
    {
        width: 100%;
        padding: 0;
    }
}