* {
    box-sizing: border-box;
}

a
{
    font-weight: 400;
    font-size: 24px;
    color: rgba(221, 245, 9, 0.774);

    text-align: center;
    text-decoration: none;

    padding:10px;
    margin: 0px;
    background: transparent;
    width: 100%;
    display: block;
    border-top:  3px outset rgba(81, 83, 48, 0.39);
    transform:translate(0px,1px);
    text-shadow: 3px 3px 3px rgba(27, 27, 27, 0.89);
}

/*active link*/
a.active
{
    border:  none;
    border-top:  4px solid rgb(157, 240, 4);;
    color: rgb(157, 240, 4);
    font-weight: 700;
    font-size: 22px;
    transform:translate(0,-3px);
}


a:hover
{
    cursor:pointer;
    background-color: rgba(87, 88, 90, 0.842);
    color: black;
    border-bottom:   1px solid rgba(169, 169, 169, 0);
}



.cl-FormSection
{

    display: block;
    height: 100%;
    width: auto;
    margin: 1px;
    padding: 2px;
}

h2{

    color: rgba(122, 122, 122, 0.822);
    font-variant-caps: all-petite-caps;
    border-bottom: 2px solid rgba(128, 128, 128, 0.822);
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    margin: 1%;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(26, 25, 25);
    box-shadow: 0px 4px 2px -2px rgba(36, 36, 36, 0.507);
    background: transparent;
    text-align: right;
}

  .cl-ModalDialog
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;

      padding-left : 5px;padding-right : 5px;
      padding-top : 5px;padding-bottom : 5px;
      background-color: rgb(77, 77, 77);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      z-index: 1;

  }

.cl-AnimatedLabel
{
    /*display: none;*/
    font-size: 15px;
    font-weight: 400;
    pointer-events: none;
    padding: 5px;
    color: rgba(247, 176, 45, 0.808);
    text-shadow: -2px 3px 3px rgb(32, 32, 32);

 }
input[type=text],input[type=password]
{
    background: transparent;
    color: rgb(199, 199, 199);
    align-self: center;
    margin: 1px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-weight: 450;
    font-variant: normal;
    min-height: 32px;
    display: block;
    border : none;
    border-bottom: 1px solid rgba(110, 110, 110, 0.705);
}
input[type=submit]
{
  margin: 1px;
  padding: 5px;
  min-height: 45px;
  width: 100%;
  display: block;
  background-color: rgb(85, 84, 84);
  color: chocolate;
  border : none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-shadow: -1px 1px 3px rgb(32, 32, 32);
  cursor: pointer;
}
/* .disabled input[type=submit]
{

  cursor: not-allowed;
} */
/*invalid input indication*/
.form-control.ng-dirty.ng-touched.ng-invalid
{
    background-color: rgba(255, 217, 0, 0);
    border-bottom: 3px solid rgba(255, 0, 0, 0.959);
}
.form-control.ng-dirty.ng-touched.ng-valid
{
    border-bottom: 3px solid rgba(74, 252, 3, 0.986);
}

/*valid input indication*/

@media screen and (max-width: 600px)
{
    .cl-ModalDialog
    {
        width : 100%;
        height : auto;
        margin: 2px;
    }
    .cl-FormSection,row
    {
        margin: 2px;
    }
}


