<p>
  usr works!
</p>

 <div class="cl-glob-ModalBackground" [style.display]="'block'">
  <div class="cl-ModalDialog">
<div class="row">
<!--         <div class="clWidth50Perc leftcolumn">
            <a routerLink="/signin" routerLinkActive="active">Sign In</a>
        </div>
        <div class="clWidth50Perc rightcolumn">
            <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
        </div> -->
        <h2>Sign-In</h2>
  </div>

  <router-outlet></router-outlet>
 <!--  <usr-signin>

    </usr-signin>
 -->
  </div>
</div>