
  <div class="row"> <!--Top row - sticky/fiex on scroll -->
    <div
    class="cl-TopBarContainer"
    [class.posFixed-Top] = "_hostListner.stickyOnWindowScroll(30)"
    [class.posRelative] = "!_hostListner.stickyOnWindowScroll(30)">
        <!-- router to list page -->
        <input
        type="submit"
        class = "cl-trigger-round cl-trigger-round-blue"
        routerLink = "/libMngr/udt"
        routerLinkActive="active"
        value = "&#xe5c4;">

        <div class = "seperator"></div> <!--Separator-->

        <!-- Add new button -->
        <input
        type="submit"
        class = "cl-trigger-round cl-trigger-round-add"
        (click)="postReq_CreateUDT()"
        value = "&#xe02e;"
        [disabled]="(!formGroup.valid) || (this.opEdit)">

        <div class = "seperator"></div> <!--Separator-->

        <!-- save / Update / Apply modification buuton -->
        <input
        type="submit"
        (click)="updateUDT()"
        class = "cl-trigger-round cl-trigger-round-update"
        value = "&#xe161;"
        [disabled]="(!formGroup.valid) || (!this.opEdit)">

        <!-- Trigger element: Open the delete confirmation dialog -->

        <input
        type="submit"
        (click)="deleteUDT()"
        class = "cl-trigger-round cl-trigger-round-delete mi"
        value = "&#xe92b;"
        [disabled]="(!this.opEdit)">
    </div>
  </div>
<!-- Form starts here -->
  <form
  [formGroup]="formGroup.get('plcTag')"
  class="cl-FormContainer form-group"
  [class.cl-IsF] = "formGroup.get('plcTag.isF').value"
  novalidate>
  <!-- <h1>UDT</h1> -->
        <div class="row">
            <label
              for="udtName">
              Name:
            </label>
            <input
              type="text"
              name = "udtName"
              class="form-control"
              formControlName= "name">
          </div>
          <!-- validation errors -->
          <div
          class = "validation-msg-red"
          *ngIf="formGroup.get('plcTag.name').hasError && formGroup.get('plcTag.name').getError('nameExists')">
              Name Already exists..!
          </div>
          <div class="row">
              <input
              type="checkbox"
              name = "isF"
              class="form-control"
              formControlName= "isF">

          </div> <!-- for margin; blank -->

          <div class="row form-group"   [formGroup]="formGroup.get('plcTag.comment')">
              <label
                for="udtComment">
                Comment:
              </label>
              <input
                type="text"
                name = "udtComment"
                class="form-control"
                formControlName="en">
            </div>

</form> <!-- Form End -->


    <ul *ngFor="let u of this.udtArr; let i = index">
        <li>
          {{i}} | {{u.plcTag.name }}
        </li>
    </ul>
