.float-r {
  float: right;
}

h1{
  margin: 0px;
  margin-bottom: 20px;
  padding: 1px;
  font-size: 32px;
  font-weight: 500;

  border-bottom: 2.5px solid rgba(53, 53, 53, 0.411);

  text-shadow: 2px 1px 1px rgba(66, 66, 66, 0);
  width: 100%;
  height: auto;
  line-height: auto;
  color: rgba(0, 0, 0, 0.26);
  position: relative;
  top: 0px;
  font-variant-caps: small-caps;
}

.sub-text {
  line-height: 18px;
  display: inline;
  vertical-align: bottom;
  padding: 3px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(121, 121, 121, 0.356);
  text-align: right;
}


.cl-FormContainer
{

    display: grid;

    width: auto;
    height: auto;
    margin: 10px;
    padding: 20px;
    overflow: auto;
    box-shadow: 4px 3px 14px 0 rgba(0,0,0,0.5);
    background: rgba(243, 243, 243, 0.692);

}


/*fixed after certain scroll*/
.posFixed-Top
{
  z-index: 10; /* Sit on top */
  position: fixed; /* Set  to fixed position */
  top: 0px; /* Position at the top of the page */
  left: 0px;
}

.posRelative
{
  position: relative; /* Set  to relative position */
}

.cl-TopBarContainer
{
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(238, 238, 238);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.304);
  /* min-height: 120px; */
  height: auto;
  width: 100%;
  align-content: center;
  vertical-align: middle;

}



.cl-IsF
{
  border-left: 5px solid rgb(250, 234, 4);
  background-color: rgb(255, 255, 255);

}
label
{
  align-self: center;
    /* float: right; */
    text-align: right;
    display: block;

    width: 100%;
    font-size: 20px;
    font-weight: 500;
    pointer-events: none;
    padding: 5px;
    color: rgb(51, 51, 51);
    font-variant-caps: small-caps;
/*     text-shadow: 2px 1px 1px rgb(31, 31, 31); */
 }

/*Grid layout*/
 .grid-container {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;

  /* grid-template-areas:  */
}

/*Grid layout*/
.grid-wrapper {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;

  grid-template-areas:
  "ga-title1 ga-title1 ga-title1 ga-title1 ga-title1"
  "ga-udt-name ga-udt-name ga-udt-name ga-rev ga-rev"
  "ga-udt-comment ga-udt-comment ga-udt-comment ga-rev ga-rev"
  "ga-udt-datatype ga-udt-datatype ga-udt-isF ga-rev ga-rev"
  "ga-title2 ga-title2 ga-title2 ga-title2 ga-udtvar-info"
  "ga-udtvars ga-udtvars ga-udtvars ga-udtvars ga-udtvars"
  "..... ...... ..... ..... ga-last-row"
  ;

  grid-gap: 10px;
}

.ga-title1      {  grid-area: ga-title1;    }
.ga-title2      {  grid-area: ga-title2;    }
.ga-udt-name    {  grid-area: ga-udt-name;  }
.ga-rev         {  grid-area: ga-rev;       }
.ga-udt-comment {  grid-area: ga-udt-comment;       }
.ga-udt-datatype {  grid-area: ga-udt-datatype;       }
.ga-udt-isF {  grid-area: ga-udt-isF;       }
.ga-udtvar-info {  grid-area: ga-udtvar-info;       }
.ga-udtvars {  grid-area: ga-udtvars;       }
.ga-last-row {  grid-area: ga-last-row;       }


.ga-rev
{
  /* background-color: rgba(104, 104, 104, 0.075); */
  border-left: 3px solid rgba(104, 104, 104, 0.075);
}

/* Responsive layout */
@media screen and (max-width: 600px)
{


    .cl-FormContainer,row
    {
        margin: 2px;
    }

    .ga-rev {
      display: none;
    }
    .grid-wrapper {

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      grid-template-areas:
      "ga-title1"
      "ga-udt-name"
      "ga-udt-comment"
      "ga-udt-datatype"
      "ga-udt-isF"
      "ga-title2"
      "ga-udtvar-info"
      "ga-udtvars"
      "ga-last-row"
      ;

      grid-gap: 2px;
    }
}
