

    <!-- sticky/fiex on scroll -->
    <div
    class="cl-TopBarContainer"
    [class.posFixed-Top] = "_hostListner.stickyOnWindowScroll(31)"
    [class.posRelative] = "!_hostListner.stickyOnWindowScroll(33)">

    <div class="row"> <!--Top row -->
        <!-- router to list page -->
        <input
        type="submit"
        class = "cl-trigger-round cl-trigger-round-blue"
        routerLink = "/libMngr/udt"
        routerLinkActive="active"
        value = "&#xe5c4;">

        <div class = "seperator"></div> <!--Separator-->

        <!-- Add new button -->
        <input
        type="submit"
        class = "cl-trigger-round cl-trigger-round-add"
        (click)="postReq_CreateUDT()"
        value = "&#xe02e;"
        [disabled]="(!formGroup.valid) || (this.opEdit)">

        <div class = "seperator"></div> <!--Separator-->

        <!-- save / Update / Apply modification button
          This will stay disabled when
           + From group is pristine (touched = no dirty, but no value change),
           + form group is not valid,
           + This is not an Edit (modifying) operation
        -->
        <input
        type="submit"
        (click)="updateUDT()"
        class = "cl-trigger-round cl-trigger-round-update"
        value = "&#xe161;"
        [disabled]="(!formGroup.valid) || (!this.opEdit) || (!formGroup.dirty)">

        <!-- Trigger element: Open the delete confirmation dialog -->

        <input
        type="submit"
        (click)="deleteUDT()"
        class = "cl-trigger-round cl-trigger-round-delete mi"
        value = "&#xe92b;"
        [disabled]="(!this.opEdit)">


    </div>
  </div>
<!-- Form starts here -->
  <form
  (change)="onFormchange()"
  [formGroup]="formGroup.get('plcTag')"
  class="cl-FormContainer form-group"
  [class.cl-IsF] = "formGroup.get('plcTag.isF').value"
  novalidate>
  <h1>{{formHeaderText}}</h1>

        <div class="row"> <!--row 1-->
              <div class = "leftcolumn clWidth33Perc">
                <libForm-InputText
                [labelText] = '"Name"'
                [formControl] = "formGroup.get('plcTag.name')">
              </libForm-InputText>
               </div>
              <div class = "rightcolumn clWidth66Perc">
                <libForm-InputText
                [labelText] = '"Comment"'
                [formControl] = "formGroup.get('plcTag.comment.en')">
              </libForm-InputText>
              </div>
          </div> <!--row 1 END -->

          <div class="row"> <!--row 2 BEGIN -->
            <div class = "leftcolumn clWidth50Perc">
                <div class = "leftcolumn clWidth25Perc">
                    <label for="isF"> Fail-Safe:</label>
                </div>
                <div class = "rightcolumn clWidth75Perc">
                      <input
                      type="checkbox"
                      name = "isF"
                      class="form-control"
                      formControlName= "isF">
                </div>
            </div>
            <div class = "rightcolumn clWidth50Perc">
                <libForm-InputText
                [labelText] = '"Data-Type"'
                [formControl] = "formGroup.get('plcTag.datatype')">
              </libForm-InputText>
            </div>
          </div> <!--row 2 END -->


          <div class="row"> <!--row 3 BEGIN -->
          </div><!--row 3 END -->

          <div class="row"> <!--row 4 BEGIN -->
            <div class = "leftcolumn clWidth15Perc">
            </div>
            <div class = "rightcolumn clWidth75Perc">

            </div>
          </div><!--row 4 END -->


  <!-- UDT Vars -->
    <div>
        <h1>
          STAT_VAR<span class="float-r">{{this.editingUDT.vars.length}}</span>
        </h1>
    </div>
<div class="form-group" >
          <div *ngFor="let v of this.editingUDT.vars; let i = index">
              <udt-var [dataTypes]="this.dataTypes" [uVarIn]="v" [uVarFormGroup]="this.formGroup.controls['vars'].controls[i]"> </udt-var>
          </div>
</div>

    <div class="row"> <!--row BEGIN -->
      <input
      type="submit"
      class = "cl-trigger-round cl-trigger-round-add mi float-r"
      value = "&#xe03b;"
      (click)= "addNewVar()" >
    </div> <!--row END -->

</form> <!-- Form End -->





<!--     <ul *ngFor="let u of this.udtArr; let i = index">
        <li>
          {{i}} | {{u.plcTag.name }}
        </li>
    </ul> -->
