<!-- Export Dialog: Modal, Controlled by visibility flag -->
<udt-ExportDialog
[style.display] = "(this.visible.exportDialog)? 'block': 'none'"
[objectName]= "this.editingObj.u.symbolicName"
(evCancelled)="this.visible.exportDialog = false"
(evExportTrigger)="this.exportHandler($event)"></udt-ExportDialog>

    <!-- sticky/fiex on scroll -->
    <div
    class="cl-TopBarContainer"
    [class.posFixed-Top] = "_hostListner.stickyOnWindowScroll(31) && (!this.visible.exportDialog) && (!this.visible.deleteConfirmationDialog)"
    [class.posRelative] = "!_hostListner.stickyOnWindowScroll(33)">

    <div class="row"> <!--Top row -->
        <!-- router to list page -->
        <libForm-ActionTrigger
        [tooltipText]="'Navigate back to overview'"
        routerLink = "/libMngr/udt"
        routerLinkActive="active"
        [actionIcon] = "'&#xe5c4;'"
        [actionText]= "'BACK'"
        [disableControl]="false"
        [css]="['rgb(43, 120, 255)','none','l']"></libForm-ActionTrigger>

        <!-- Add new button -->

        <libForm-ActionTrigger
        [tooltipText]="'Create a new object with following data'"
        (execOnTrigger)= "createUDT(false)"
        [actionIcon] = "'&#xe148;'"
        [actionText]= "'NEW'"
        [disableControl]="(!formGroup.valid) || (this.opEdit)"
        [css]="['rgb(230, 227, 3)','none','l']"></libForm-ActionTrigger>

        <!-- Clone this as a new object Available only with EDIT operation if the form is valid..-->
        <libForm-ActionTrigger
        [tooltipText]="'Create a new object with following data'"
        (execOnTrigger)= "createUDT(true)"
        [actionIcon] = "'&#xe0b6;'"
        [actionText]= "'CLONE'"
        [disableControl]="(!formGroup.valid) || (!this.opEdit)|| (formGroup.dirty) || (this.editingObj.u.vars.length <= 0)"
        [css]="['rgb(248, 129, 114)','none','l']"></libForm-ActionTrigger>

        <!-- save / Update / Apply modification button
          This will stay disabled when
           + From group is pristine (touched = no dirty, but no value change),
           + form group is not valid,
           + This is not an Edit (modifying) operation
        -->
        <libForm-ActionTrigger
        [tooltipText]="'Update the modifications'"
        (execOnTrigger)= "updateUDT()"
        [actionIcon] = "'&#xe161;'"
        [actionText]= "'UPDATE'"
        [disableControl]="(!formGroup.valid) || (!this.opEdit) || (!formGroup.dirty)"
        [css]="['rgb(246, 232, 75)','none','l']"></libForm-ActionTrigger>

        <!-- Trigger element: Open the delete confirmation dialog -->

        <libForm-ActionTrigger
        (execOnTrigger)= "this.visible.deleteConfirmationDialog = true"
        [actionIcon] = "'&#xe92b;'"
        [actionText]= "'DELETE'"
        [disableControl]="(!this.opEdit)"
        [css]="['rgb(247, 72, 72)','none','l']"></libForm-ActionTrigger>

        <alertDialog
        [style.display] = "this.visible.deleteConfirmationDialog? 'block' : 'none'"
        [alertTitle]= "'Confirm Delete'"
        [alertDesc]= "'Delete the UDT? This operation is non-reversable'"
        (evCancelled)= "this.visible.deleteConfirmationDialog = false"
        (evConfirmed)= "deleteUDT()">
        </alertDialog>

        <libForm-ActionTrigger
        (execOnTrigger)= "this.visible.exportDialog = !this.visible.exportDialog"
        [actionIcon] = "'&#xe2c0;'"
        [actionText]= "'EXPORT'"
        [disableControl]="(!formGroup.valid) || (!this.opEdit)|| (formGroup.dirty) || (this.editingObj.u.vars.length <= 0)"
        [css]="['rgba(0,120,220,1)','none','l']"></libForm-ActionTrigger>

    </div>
  </div>



<!-- Form starts here -->
  <form
  [formGroup]="formGroup.get('plcTag')"
  class="cl-FormContainer form-group grid-wrapper"
  [class.cl-IsF] = "formGroup.get('plcTag.isF').value"
  novalidate>

  <div class="ga-title1">
      <h1>{{formHeaderText}}</h1>
  </div>

      <div class = "ga-udt-name">
            <libForm-InputText
            [labelText] = '"Name"'
            [formControl] = "formGroup.get('plcTag.name')">
          </libForm-InputText>
        </div>
        <div class = "ga-udt-comment">
            <libForm-InputText
            [labelText] = '"Comment"'
            [formControl] = "formGroup.get('plcTag.comment.en')">
            </libForm-InputText>
        </div>



            <div class = "ga-udt-isF">
                <libForm-Switch
                [labelText]='"Fail-Safe"'
                [formControl] = "formGroup.get('plcTag.isF')"
                [disableControl]="false" > </libForm-Switch>
            </div>
            <div class = "ga-udt-datatype">
                <libForm-InputText
                [labelText] = '"Data-Type"'
                [formControl] = "formGroup.get('plcTag.datatype')">
              </libForm-InputText>
            </div>
<div class="ga-rev">
  <div class="sub-text">
    <strong>Revision:</strong> {{this.editingObj.u.rev.major}} | {{this.editingObj.u.rev.minor}} <br>
    <strong>Last Modified:</strong> {{this.editingObj.u.rev.on}}
  </div>

</div>

<!-- gap row --> <div class="ga-gap-row1"></div>
  <!-- UDT Vars -->
    <div class="ga-udtvar-info">
        <div class="sub-text">
             Variables: {{this.editingObj.u.vars.length}}
            <br>  Block Size: {{this.bitWeight / 8}} Bytes
        </div>
    </div>
    <div class="ga-title2">
        <h1>
            STAT_VAR
          </h1>
    </div>

<div class="form-group ga-udtvars">
          <div *ngFor="let v of this.editingObj.u.vars; let i = index">
              <udt-var
              [dataTypes]="this.dataTypes"
              [uVarIn]="v"
              [uVarFormGroup]="this.formGroup.controls['vars'].controls[i]"
              [isLastArrElement]= "this.editingObj.u.vars.length === v.ident.innerIdx"
              (dataTypeChangeTrigger)= "this.onChildrenVarChanged($event)"
              (evTriggerDelVar_)="this.deleteVar($event)"
              (evTriggerPromote_)="this.swapVar($event, true)"
              (evTriggerDemote_)="this.swapVar($event, false)" >
              </udt-var>
          </div>
</div>

    <div class="ga-last-row"> <!--row BEGIN -->

      <libForm-ActionTrigger
      (execOnTrigger)= "addNewVar()"
      [actionIcon] = "'&#xe03b;'"
      [actionText]= "'ADD VAR'"
      [disableControl]="false"
      [css]="['rgb(88, 206, 114)','none','l']"></libForm-ActionTrigger>

    </div> <!--row END -->

</form> <!-- Form End -->

