
h2{
  display: block;
  font-size: 20px;
  color: rgba(116, 116, 116, 0.87);
  border-bottom:   1px solid rgba(128, 128, 128, 0.4);
  font-variant-caps: petite-caps;
  font-weight:400;
}
.msg{
  color: rgba(139, 136, 136, 0.87);
  font-weight:300;
  font-size: 13px;
  font-variant: none;
  list-style-type: none;
}
.msgboard-container
{

}
