
* {
  box-sizing: border-box;
}



.cl-FixedContainer-Top
{
  margin: 0px;
  padding: 0px;

  z-index: 10; /* Sit on top */
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  left: 0;

  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.604);
  width: 100%;
  vertical-align: middle;
}

.cl-TopBarContainer
{
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(238, 238, 238);

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.304);
/*   min-height: 120px;
 */
  width: 100%;
  align-content: center;
  vertical-align: middle;

  display: inline-flex;

}


.info-container {
  display: inline-block;
  margin: 2px;
  padding: 1px;
}
.info-val{
  font-size: 64px;
  font-weight: 400;
  color: rgb(206, 206, 206);
  text-shadow: -1px 1px 3px rgb(73, 73, 73);
}
.info-desc{
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 300;
}


