

<div class="row">
    <div class="clWidth50Perc leftcolumn">

    <button (click)="GetAndUpdateData()">
      get
    </button>

  </div>
</div>

<div class="row">

        <div class="cl-SearchBarContainer" [class.cl-FixedContainer] = "onWindowScroll(150)">
          kjhk
        </div>

</div>

    <div class="row">

        <div class="clWidth50Perc leftcolumn">
            <button (click)="postReq_CreateUDT()">
                post
              </button>
      </div>
        <div class="clWidth50Perc rightcolumn">
                  <app-udt-list *ngFor="let d of data; let i = index"  [udtIn]="d"> </app-udt-list>
        </div>

  </div>
