

<!-- <div class="row">
                    <div class= "mi">&#xe2cc;</div>
</div> -->

<div class="row">

        <div
        [class.cl-TopBarContainer] = "!_hostListner.stickyOnWindowScroll(25)"
        [class.cl-FixedContainer-Top] = "_hostListner.stickyOnWindowScroll(25)">
              <div class="clWidth25Perc leftcolumn">
                  <!-- Trigger Element: "Add new" button -->
                  <input
                    class = "cl-trigger-round cl-trigger-round-add mi"
                    routerLink = "createUDT"
                    routerLinkActive="active"
                    value = "&#xe145;">

                  <!-- Trigger Element: "Refresh (rxF5) http get requesting" button -->
                  <input
                  type = "submit"
                  class = "cl-trigger-round cl-trigger-round-blue mi"
                  (click)="rxF5()"
                  value = "&#xe627;"/>

              </div>
              <div class = "seperator"></div>
              <div class="clWidth66Perc leftcolumn">
                  <input
                  type="text"
                  name = "filter"
                  placeholder="Filter....">
              </div>
              <div class = "seperator"></div>
              <div class="clWidth15Perc rightcolumn">

                  <div class = "info-container">
                      <div class = "info-val">{{_rxArr.length}}</div>
                      <div class = "info-desc">Objects Total</div>
                    </div>
              </div>
        </div>

</div>

    <div class="row">

      <div class="clWidth25Perc leftcolumn"> </div> <!--Gutter collumn-->

        <div class="clWidth50Perc leftcolumn">
                  <app-udt-list *ngFor="let d of _rxArr; let i = index"  [udtIn]="d"> </app-udt-list>
        </div>

      <div class="clWidth25Perc leftcolumn"> </div><!--Gutter collumn-->

  </div>


<!--   <a
  class = "cl-trigger-round cl-trigger-round-add"
  [routerLink]= "['createUDT' , {data: this.data}]"
  routerLinkActive="active">
  <div>+</div>
</a>

        [udtListIn]="_rxArr"

              (click)= "routeToCreateUDT()"
-->
