.cl-ListNodeContainer
{
  display: block;
  width: 100%;
  margin: 2px;
  padding: 2px;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
table{
  border-collapse: collapse;
}

td {
  min-width: 20px;
  width: max-content;
  display: inline-flex;
}

td,tr {
  /* border: 0.5px solid rgb(207, 207, 207); */

}


.background-text {
  z-index: auto;
  display: inline-block;
  font-size: 48px;
  font-weight: 500;
  color: rgba(122, 122, 122, 0.836);
}


