

<!-- Form container structure -->
  <form
  class = "form-group cl-ListNodeContainer"
  [class.invalid-form] = "uVarFormGroup.invalid"
  [formGroup]="uVarFormGroup"
  novalidate>


  <table> <!-- Table structure -->
    <tr> <!--Single Row -->
<!--       <tr>
        {{this.uVarFormGroup.get('plcTag.name').value}}
      </tr> -->
          <td class = "w20"> <!-- cell (col) # = Delete trigger -->
            <div class = "background-text">{{uVarIn.ident.innerIdx}}
            </div>
              <input class="cl-trigger-transperant cl-trigger-round-delete mi"
              type="submit"
              value = "&#xe92b;">

          </td>


          <td class = "w20"> <!-- cell (col) 1 -->
            <libForm-InputText
            [labelText] = '"Name"'
            [formControl] = "this.uVarFormGroup.get('plcTag.name')">
            </libForm-InputText>
          </td>

          <td class = "w40"> <!-- cell (col) 3 -->
            <libForm-InputText
            [labelText] = '"Comment"'
            [formControl] = "this.uVarFormGroup.get('plcTag.comment.en')">
            </libForm-InputText>
          </td>
          <td class = "w20">
            <libForm-InputCombo
            [_labelText] = '"DataType"'
            [formControl] = "this.uVarFormGroup.get('plcTag.datatype')"
            [_dropdownItems] = "this.dataTypes"
            (valueChangeTrigger)="  this.onDataTypeChanged()" >
            </libForm-InputCombo>
          </td>

        </tr><!--End Row -->
      </table>

</form>

<!-- Form End -->
