

<!-- Form container structure -->
  <form
  class = "form-group cl-ListNodeContainer"
  [class.invalid-form] = "uVarFormGroup.invalid"
  [formGroup]="uVarFormGroup"
  novalidate>


  <table> <!-- Table structure -->
    <tr> <!--Single Row -->
<!--       <tr>
        {{this.uVarFormGroup.get('plcTag.name').value}}
      </tr> -->
          <td class = "w20"> <!-- cell (col) # = Delete trigger -->
            <div class = "background-text">{{this.innerIdx}}
            </div>
            <libForm-ActionTrigger
            (execOnTrigger)= "this.visible.deleteConfirmationDialog = true"
            [actionIcon] = "'&#xe92b;'"
            [actionText]= "'DELETE'"
            [disableControl]="false"
            [css]="['rgb(247, 72, 72)','none','s']"></libForm-ActionTrigger>

            <alertDialog
            [style.display] = "this.visible.deleteConfirmationDialog? 'block' : 'none'"
            [alertTitle]= "'Confirm Delete Variable'"
            [alertDesc]= "'Delete variable [' + this.uVarIn.plcTag.name + ', of Type:' +this.uVarIn.plcTag.datatype  + ']?' + '\nThis operation is non-reversable'"
            (evCancelled)= "this.visible.deleteConfirmationDialog = false"
            (evConfirmed)= "onEvDelete()">
            </alertDialog>

            <libForm-ActionTrigger
            (execOnTrigger)= "this.onEvPromote()"
            [actionIcon] = "'&#xe5c7;'"
            [actionText]= "'PROMOTE'"
            [disableControl]="this.isFirstArrElement"
            [css]="['rgb(15, 170, 226)','none','s']"></libForm-ActionTrigger>

            <libForm-ActionTrigger
            (execOnTrigger)= "this.onEvDemote()"
            [actionIcon] = "'&#xe5c5;'"
            [actionText]= "'DEMOTE'"
            [disableControl]="this.isLastArrElement"
            [css]="['rgb(15, 170, 226)','none','s']"></libForm-ActionTrigger>

          </td>


          <td class = "w20"> <!-- cell (col) 1 -->
            <libForm-InputText
            [labelText] = '"Name"'
            [formControl] = "this.uVarFormGroup.get('plcTag.name')">
            </libForm-InputText>
          </td>

          <td class = "w40"> <!-- cell (col) 3 -->
            <libForm-InputText
            [labelText] = '"Comment"'
            [formControl] = "this.uVarFormGroup.get('plcTag.comment.en')">
            </libForm-InputText>
          </td>
          <td class = "w20">
            <libForm-InputCombo
            [_labelText] = '"DataType"'
            [formControl] = "this.uVarFormGroup.get('plcTag.datatype')"
            [_dropdownItems] = "this.dataTypes"
            (valueChangeTrigger)="  this.onDataTypeChanged()" >
            </libForm-InputCombo>
          </td>

        </tr><!--End Row -->
      </table>

</form>

<!-- Form End -->
