.cl-ListNodeContainer
{
  display: block;
  margin: 2px;
  padding: 2px;

  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
table,tbody,tr{
  display: block;
  width: 100%;
}
table,td,th,tr{
  border-collapse: collapse;
}

td {
  min-width: 20px;
  display: inline-block;
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}
.w40 {
  width: 40%;
}

td,tr {
  /* border: 0.5px solid rgb(207, 207, 207); */

}


.background-text {

  /* transform: translate(-5px, -35px); */
  position: relative;
  top: 0px;
  z-index: auto;
  display: inline-table;
  font-size: 36px;
  font-weight: 500;
  color: rgba(180, 180, 180, 0.836);
  vertical-align: middle;
}

.invalid-form
{
  border-left: 7px solid rgb(250, 53, 4);
  background-color: rgb(255, 255, 255);
}

.cl-trigger-transperant
{

  margin: 1px;
  padding: 0px;
  line-height: 1px;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  border : none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 36px;
  font-weight: 700;

  font-family: 'Material Icons';
  background-repeat: no-repeat;


  text-transform: lowercase;
  font-variant: small-caps;

  background-color: rgba(0, 0, 0, 0);
  box-shadow: 4px 3px 12px 0 rgba(0, 0, 0, 0);

  text-shadow: 3px 3px 2px rgba(216, 216, 216, 0.795);

}

@media screen and (max-width: 600px)
{

  table,tbody,tr,td {
    width: 100%;
    display: block;
  }
    .w10, .w20, .w40
    {
        width: 100%;
        padding: 0;
    }
    td
    {
        border-bottom: 0.3px solid rgb(233, 233, 233);
        margin-bottom: 1px;
    }

    .cl-ListNodeContainer{
      margin-bottom: 5px;
    }
}

