* {
  box-sizing: border-box;
}

/* Covers active page transperantely and contains the navigation control*/
.cl-glob-ModalBackground
{
  padding: 0%;
  display:none; /*none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(228, 228, 228, 0.5); /* Black w/ opacity */

  /*Animate Slide in*/
}

.cl-ModalDialog
{
    display: block;
    position: absolute;
    margin-left: 20px; margin-top: 20px; margin-bottom: 20px;margin-right: 20px;
    min-height: calc(100% - 50px);
    min-width: calc(100% - 40px);
    padding-left : 5px;padding-right : 5px;
    padding-top : 5px;padding-bottom : 5px;
    background-color: rgba(235, 235, 235, 0.952);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 11;

    border-left: 5px solid rgb(19, 230, 82);

}

.float-r {
  float: right;
}

.x
{
  color: rgb(250, 60, 76);
}

h1{
  display: inline-block;
  margin: 0px;
  padding: 1px;
  font-size: 1.0em;
  font-weight: 500;
  height: auto;
  line-height: auto;
  color: rgba(121, 121, 121, 0.877);
  font-variant-caps: small-caps;
}

h2{
  display: inline-block;
  margin: 0px;
  padding: 1px;
  font-size: 1em;
  font-weight: 500;
  line-height: auto;
  color: rgba(0, 0, 0, 0.87);
  font-variant-caps: normal;
}

h3{
  font-size: 2em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.318);
}


/*grid=============*/


.gr-toprow{
  grid-area: area-toprow;

  align-self: center;
  text-align: center;
  word-wrap: normal;
  justify-self: start;
}
.gr-toprowtitle{
  grid-area: area-toprowtitle;
  word-wrap: normal;
  justify-self: stretch;
  border-bottom: 2.5px solid rgba(53, 53, 53, 0.411);
}


.gr-devgroup{
  grid-area: area-devgroup;
  justify-self: stretch;
}
.gr-triggers{
  grid-area: area-triggers;
  justify-self: stretch;
}

.r1c1 {  grid-area: r1c1; }
.r1c2 {  grid-area: r1c2; }
.r1c3 {  grid-area: r1c3; }

.r2c1 {  grid-area: r2c1; }
.r2c2 {  grid-area: r2c2; }
.r2c3 {  grid-area: r2c3; }

.r3c1 {  grid-area: r3c1; }

.grid-wrapper {
  height: 100%;
  margin: 5px;
  display: grid;
  /* grid-template-rows:  1fr 1fr 1fr; */
  grid-template-rows:  auto;
  grid-template-columns: 100px 200px 1fr;

  grid-template-areas:
  "area-toprow ..... ....."
  "..... area-toprowtitle area-toprowtitle"
  "..... r1c1 r1c2"
  "..... r2c1 r2c2"
  "..... r3c1 area-triggers" ;

  grid-gap: 10px;
}

.r1c1,.r1c2,
.r2c1,.r2c2,
.r3c1, .gr-triggers
{
  background-color:  rgba(156, 156, 156, 0.103);
}

.r1c1,
.r2c1,
.r3c1
{
  justify-self: stretch;
  text-align: center;

}



/* respoisive with screen size*/

@media screen and (max-width: 600px)
{
  .grid-wrapper {
    height: 100%;
    margin: 5px;
    display: grid;
    /* grid-template-rows:  1fr 1fr 1fr; */
    grid-template-rows:  auto;
    grid-template-columns: 1fr;

    grid-template-areas:
    "area-toprow"
    "area-toprowtitle"
    "area-devgroup"
    "area-triggers";

    grid-gap: 5px;
  }
}
