* {
  box-sizing: border-box;
}

/* Covers active page transperantely and contains the navigation control*/
.cl-glob-ModalBackground
{
  padding: 0%;
  display:none; /*none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(228, 228, 228, 0.5); /* Black w/ opacity */

  /*Animate Slide in*/
}

.cl-ModalDialog
{
    display: block;
    position: absolute;
    margin-left: 20px; margin-top: 20px; margin-bottom: 20px;margin-right: 20px;
    min-height: calc(100% - 50px);
    min-width: calc(100% - 40px);
    padding-left : 5px;padding-right : 5px;
    padding-top : 5px;padding-bottom : 5px;
    background-color: rgba(235, 235, 235, 0.952);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 11;

    border-left: 5px solid rgb(35, 148, 253);

}

.float-r {
  float: right;
}

.x
{
  color: rgb(250, 60, 76);
}

h1{
  display: inline-block;
  margin: 0px;
  padding: 1px;
  font-size: 1.0em;
  font-weight: 500;
  height: auto;
  line-height: auto;
  color: rgba(121, 121, 121, 0.877);
  font-variant-caps: small-caps;
}

h2{
  display: inline-block;
  margin: 0px;
  padding: 1px;
  font-size: 1em;
  font-weight: 500;
  line-height: auto;
  color: rgba(0, 0, 0, 0.87);
  font-variant-caps: normal;
}

h3{
  justify-self: center;
  margin: 0%;
  line-height: 32px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.318);
  cursor: pointer;
}

h3:hover {
  color: rgb(0, 182, 173);
}

ul{
  padding-left: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(20, 20, 20);
  border-left: 2px solid rgba(255, 96, 96, 0.116);

}

li{
  padding-top: 5px; padding-bottom: 5px;
  font-variant: normal;
  cursor: pointer;
  list-style: none;
  vertical-align: middle;
  justify-self: center;
  margin: 10px;
  line-height: auto;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgba(20, 20, 20, 0.651);
  background-color: rgba(226, 226, 226, 0.137);
  box-shadow: 2px 4px 3px 0 rgba(0,0,0,0.2);

}

.li-desc {
  font-style: italic;
  font-variant: normal;
  color: rgba(20, 20, 20, 0.404);
  font-size: 0.8rem;
  font-weight: 400;
}
li:hover {
  background-color:  rgb(252, 255, 51);
  color: rgb(59, 59, 59);
}

.isDetailShowing {
  border-left: 5px solid rgb(0, 104, 201);
}


/*grid=============*/


.gr-toprow{
  grid-area: area-toprow;

  align-self: center;
  text-align: center;
  word-wrap: normal;
  justify-self: start;
}
.gr-toprowtitle{
  grid-area: area-toprowtitle;
  word-wrap: normal;
  justify-self: stretch;
  border-bottom: 2.5px solid rgba(53, 53, 53, 0.411);
}


.r1 {  grid-area: r1; }
.r2 {  grid-area: r2; }
.r3 {  grid-area: r3; }
.r4 {  grid-area: r4; }
.r5 {  grid-area: r5; }

.grid-wrapper {
  height: 100%;
  margin: 5px;
  display: grid;
  /* grid-template-rows:  1fr 1fr 1fr; auto  repeat(5, 64px);*/
  grid-template-rows:  auto;
  grid-template-columns: 100px 200px 1fr;

  grid-template-areas:
  "area-toprow ..... ....."
  "..... area-toprowtitle area-toprowtitle"
  "..... r1 r1"
  "..... r2 r2"
  "..... r3 r3"
  "..... r4 r4"
  "..... r5 r5"
  ;
  grid-gap: 10px;
}

.grid-container-detail {

  margin: 5px;
  padding-left: 25px;
  display: grid;
  /* grid-template-rows:  1fr 1fr 1fr; */
    grid-template-rows: auto;
    grid-template-columns: 50px 1fr;

  grid-template-areas:
  "c2 c1"
  ;
  grid-gap: 10px;
}

.c1 {  grid-area: c1; }
.c2 {  grid-area: c2; }

.c1, .c2
{

  padding: 5px;
  vertical-align: middle;
}

.c1
{
  cursor: pointer;
  background-color:  rgba(255, 255, 255, 0);
  text-align: left;
}



.c2
{
  background-color:  rgba(255, 255, 255, 0.247);
  justify-self: center;
}




.r1,
.r2,
.r3,
.r4,
.r5
{
  background-color:  rgba(156, 156, 156, 0.103);
}

.r1,
.r2,
.r3,
.r4,
.r5
{
  justify-self: stretch;
  text-align: left;
  padding: 5px;
  vertical-align: middle;
}



/* respoisive with screen size*/

@media screen and (max-width: 600px)
{
  .grid-wrapper {
    height: 100%;
    margin: 5px;
    display: grid;
    /* grid-template-rows:  1fr 1fr 1fr; */
    grid-template-rows:  auto;
    grid-template-columns: 1fr;

    grid-template-areas:
    "area-toprow"
    "area-toprowtitle"
    "r1"
    "r2"
    "r3"
    "r4"
    "r5";

    grid-gap: 5px;
  }
}
