<div class="component">
          <!-- router to list page -->
          <libForm-ActionTrigger
          [tooltipText]="'Navigate back to overview'"
          routerLink = "prjHome"
          routerLinkActive="active"
          [actionIcon] = "'&#xe5c4;'"
          [actionText]= "'Projects'"
          [disableControl]="false"
          [css]="['rgb(43, 120, 255)','none','l']"></libForm-ActionTrigger>



<!-- Grid -->
          <div class = "g1">
              <div class="g1-prjnum">{{this.editing.prj.prj.prjnumId}}</div>
              <div class="g1-prjdescr">{{this.editing.prj.prj.description}}</div>
              <div class="g1-hr1 bottomline"></div>

              <div class="g1-prod card">
                  <div class="card-title">PRODUCT</div>
              </div>

              <div class="g1-prjstatus card">
                  <div class="card-title">STATUS</div>
              </div>

              <div class="g1-prjteam card">
                  <div class="card-title">TEAM</div>
              </div>

              <div class="g1-support card">
                  <div class="card-title">SUPPORT</div>
              </div>

              <div class="g1-hr2 bottomline"></div>

              <div class="g1-libudt card">
                  <div class="card-title">DATA STRUCTURES</div>

                  <lib-InfoBadge
                  [value]="'1234'"
                  [descr]="'STRUCTURES'"
                  [unit]="''"
                  (evTrigger)="this.crossNavigate()"
                  [css]="['rgb(150, 185, 36)']" > </lib-InfoBadge>
              </div>

              <div class="g1-awm card">
                  <div class="card-title">ALARM CONFIGURATION</div>

                  <lib-InfoBadge
                  [value]="'1234'"
                  [descr]="'ALARMS'"
                  [unit]="''"
                  [css]="['rgb(255, 89, 89)']" > </lib-InfoBadge>

              </div>

          </div>



</div>

