<div>
        <!-- router to list page -->
        <libForm-ActionTrigger
        [tooltipText]="'Navigate back to overview'"
        routerLink = "prjHome"
        routerLinkActive="active"
        [actionIcon] = "'&#xe5c4;'"
        [actionText]= "'BACK'"
        [disableControl]="false"
        [css]="['rgb(43, 120, 255)','none','l']"></libForm-ActionTrigger>

        <libForm-ActionTrigger
        [tooltipText]="'Create a new object with following data'"
        (execOnTrigger)= "c()"
        [actionIcon] = "'&#xe148;'"
        [actionText]= "'NEW'"
        [disableControl]="(!formGroup.valid) || (this.editing.opEdit) || (!this.editing._prjNum.isUnique)"
        [css]="['rgb(230, 227, 3)','none','l']"></libForm-ActionTrigger>
  </div>
<!-- Form starts here -->
<form
(input)="onFormInputChanged($event)"
[formGroup]="formGroup.get('prj')"
class="cl-FormContainer form-group gr1"
novalidate>

<div
  class = "ga-prj-num"
  [class.inputError]="!this.editing._prjNum.isUnique">
    {{this.editing._prjNum.identifier}}
  </div>
  <div class = "ga-prj-descr">
    {{this.editing._prjDescr}}
  </div>

    <div class="gr1-hr1"></div>

  <ul class="ga-ul-prj-num">Numeric Identifier
      <li>
          <libForm-InputText
          [labelText] = '"Prefix"'
          [formControl] = "formGroup.get('prj.number.pre1')"
          [placeholderText]="'e.g. 2400'"> </libForm-InputText>
      </li>

      <li>
          <libForm-InputCombo
          [_labelText] = '"Branch Identifier"'
          [formControl] = "formGroup.get('prj.number.branch')"
          [_dropdownItems] = "['WK','HH','LU']"
          (valueChangeTrigger)="onFormInputChanged($event)" > </libForm-InputCombo>
      </li>

      <li>
          <libForm-InputText
          [labelText] = '"Number (Sequential Incrementor)"'
          [formControl] = "formGroup.get('prj.number.nSeq')"
          [placeholderText]="'e.g. 0141'">  </libForm-InputText>
      </li>
  </ul>

  <ul class="ga-ul-prod">Product
      <li>
          <libForm-InputText
          [labelText] = '"Product Type"'
          [formControl] = "formGroup.get('prj.product.type')"
          [placeholderText]="'Launch coaster'"> </libForm-InputText>
      </li>

      <li>
          <libForm-InputText
          [labelText] = '"Commercial Name"'
          [formControl] = "formGroup.get('prj.product.aka')"
          [placeholderText]="'e.g. Slinky Dog Dash'"> </libForm-InputText>
      </li>
      <li>
            <ul>Deployment
                <li >
                    <libForm-InputText
                    [labelText] = '"Company"'
                    [formControl] = "formGroup.get('prj.product.deployment.company')"
                    [placeholderText]="'e.g. Walt Disney'"> </libForm-InputText>
                </li>

                <li>
                    <libForm-InputText
                    [labelText] = '"Facility"'
                    [formControl] = "formGroup.get('prj.product.deployment.facility')"
                    [placeholderText]="'Park name (e.g. Hollywood Studios)'"> </libForm-InputText>
                </li>

                <li>
                  <ul>Location

                      <li>
                          <libForm-InputText
                          [labelText] = '"Address Line 1"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.adLn1')"
                          [placeholderText]="'Address Line 1'"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"Address Line 2"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.adLn2')"
                          [placeholderText]="'Optional'"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"City / Town"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.city')"
                          [placeholderText]="''"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"PLZ / ZIP"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.zip')"
                          [placeholderText]="''"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"State / Province"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.state')"
                          [placeholderText]="''"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"Country"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.country')"
                          [placeholderText]="''"> </libForm-InputText>
                      </li>

                      <li>
                          <libForm-InputText
                          [labelText] = '"Geographic location"'
                          [formControl] = "formGroup.get('prj.product.deployment.location.gLoc')"
                          [placeholderText]="'e.g. 3XQ5+6M Waldkirch'"> </libForm-InputText>
                      </li>
                  </ul>
                </li>
            </ul>
          </li>
  </ul>

  <!-- <div
  class = "ga-prj-num"
  [class.inputError]="!this.editing._prjNum.isUnique">
    {{this.editing._prjNum.identifier}}
  </div>
  <div class = "ga-prj-descr">
    {{this.editing._prjDescr}}
  </div>

    <div class="gr1-hr1"></div>

    <div class="ga-label-prj-num group-lable">
      Numeric Identifier
    </div>

    <div class="ga-prj-num-pre1">
        <libForm-InputText
        [labelText] = '"Prefix"'
        [formControl] = "formGroup.get('prj.number.pre1')"
        [placeholderText]="'e.g. 2400'"> </libForm-InputText>
    </div>
    <div class="ga-prj-num-branch">
      <libForm-InputCombo
        [_labelText] = '"Branch Identifier"'
        [formControl] = "formGroup.get('prj.number.branch')"
        [_dropdownItems] = "['WK','HH','LU']"
        (valueChangeTrigger)="onFormInputChanged($event)" > </libForm-InputCombo>
    </div>
    <div class="ga-prj-num-nseq">
      <libForm-InputText
        [labelText] = '"Number (Sequential Incrementor)"'
        [formControl] = "formGroup.get('prj.number.nSeq')"
        [placeholderText]="'e.g. 0141'">  </libForm-InputText>
    </div>

    <div class="ga-label-prod group-lable">
        Product Information
    </div>

    <div class="ga-prod-type">
        <libForm-InputText
        [labelText] = '"Product-Type"'
        [formControl] = "formGroup.get('prj.product.type')"
        [placeholderText]="'Launch coaster'"> </libForm-InputText>
    </div>

    <div class="ga-prod-name">
        <libForm-InputText
        [labelText] = '"Product-Name"'
        [formControl] = "formGroup.get('prj.product.name')"
        [placeholderText]="'e.g. Slinky Dog Dash'"> </libForm-InputText>
    </div> -->




</form> <!-- Form End -->
