

<div class="gr1">
    <div class="ga-controls">
      <libForm-ActionTrigger
      routerLink = "/prjManager/prjCreate"
      routerLinkActive="active"
      [actionIcon] = "'&#xe145;'"
      [actionText]= "'CREATE\nPROJECT'"
      [disableControl]="false"
      [css]="['rgb(88, 206, 114)','none','l']"></libForm-ActionTrigger>
    </div>

    <div class="ga-filters"></div>


        <div
        *ngFor="let p of this.prjArr; let i = index">
          <prj-ListNode class="ga-li-prj" [viewingObj]= "p" (evTrigger)="this.evTriggerHandler($event)"> </prj-ListNode>
        </div>
</div>

<!-- <ul *ngFor="let p of this.prjArr; let i = index">
<li>
 <h5> {{p.prj.prjname}} | {{p.ident.idx}}</h5>
 <h6>{{p.rev.on}}</h6>
</li>
</ul> -->
