.wrapper {
  margin: 5px;
  display: inline-grid;
  /* grid-template-rows: 64px  auto; */

  grid-template-areas:
  "icn"
  "txt"
}

.wrapper-size-L {
  grid-template-rows: 56px  auto;
  grid-template-columns: minmax(32px, 64px);
}

.wrapper-size-M {
  grid-template-rows: 40px  auto;
  grid-template-columns: minmax(32px, 48px);
}

.wrapper-size-S {
  grid-template-rows: 30px  auto;
  grid-template-columns: minmax(30px, 36px);
}

.grid-icn {
  grid-area: icn;
  justify-self: stretch;

}

.grid-txt {
  grid-area: txt;
  align-self: center;
  text-align: center;
  word-wrap: normal;
  justify-self: center;

}


.trigger
{

  padding: 2px;
  line-height: 1px;

  vertical-align: middle;
  text-align: center;
  border : none;
  cursor: pointer;

  font-weight: 700;


  font-family: 'Material Icons';
  background-repeat: no-repeat;


  text-transform: lowercase;
  font-variant: small-caps;

  /* height: 56px;
  width: 64px;
  font-size: 48px; */
}

.trigger-size-L {
  height: 56px;
  width: 64px;
  font-size: 48px;
}

.trigger-size-M {
  height: 40px;
  width: 48px;
  font-size: 36px;
}
.trigger-size-S {
  height: 30px;
  width: 36px;
  font-size: 24px;
}

/* .round-dark1
{

  text-shadow: 3px 3px 2px rgb(41, 41, 41);
  box-shadow: 4px 3px 12px 0 rgba(0,0,0,0.5);
  border-radius: 50%;

  background-color: rgba(44, 44, 44, 0.87);
}

.round-dark
{

  text-shadow:
  -3px 2px 2px rgba(209, 209, 209, 0.829),
  3px 3px 2px rgba(199, 199, 199, 0.692),
  0px -1px 3px rgba(192, 192, 192, 0.856);
    border-radius: 50%;

  background-color: rgba(0, 119, 216, 0);
}

.transperant
{

  background-color: rgba(0, 0, 0, 0);
  box-shadow: 4px 3px 12px 0 rgba(0, 0, 0, 0);

  text-shadow: 3px 3px 2px rgba(216, 216, 216, 0.795);

} */

.transperant
{

  text-shadow:
  -3px 2px 2px rgba(209, 209, 209, 0.829),
  3px 3px 2px rgba(199, 199, 199, 0.692),
  0px -1px 3px rgba(192, 192, 192, 0.856);
    border-radius: 50%;

  background-color: rgba(0, 119, 216, 0);
}

.trigger:disabled
{
  color: rgba(0, 0, 0, 0.212);

  /* transperants = 0 */
  background-color: rgba(56, 56, 56, 0);
  text-shadow: 3px 3px 2px rgba(41, 41, 41, 0);
  box-shadow: 4px 3px 12px 0 rgba(0, 0, 0, 0);

  cursor: not-allowed;
}
.trigger:hover
{
  animation: shake 0.2s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1; /*infinite;*/
}


/*label*/
label{
  font-weight: 500;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.61);
  text-transform: uppercase;
  font-variant-caps: small-caps;

  /* font-size: 12px; */
}

.label-size-L {
  font-size: 13px;
}

.label-size-M {
  font-size: 11px;
}

.label-size-S {
  font-size: 9px;
}

.isHovered
{
  color: rgb(47, 144, 255);
  font-weight: 500;
  text-transform: lowercase;
  font-variant-caps: small-caps;
}

.disabledText
{
  color: rgba(0, 0, 0, 0.212);
}

input[type=submit]
{
  cursor: pointer;
}


/* Tool-Tip */
/* .wrapper:hover::after {
  z-index:10;
  content: attr(data-tooltip);
  position: relative;
  left: 5px;
  margin-left: 5px;
  background: rgba(255, 188, 6, 0.54);
  padding: 5px;

  box-shadow: 4px 3px 12px 0 rgba(0, 0, 0, 0);
} */

[tooltip]{
  margin:20px;
  position:relative;
  display:inline-block;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 100;
}
[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
}
