
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
/*
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*/

/*Default font behaviour*/
*{
  font-family: 'Source Sans Pro', sans-serif;



 /*
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;

 */

  font-variant-caps:all-small-caps;
  font-weight: 350;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/icn/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./assets/icn/MaterialIcons-Regular.woff2') format('woff2'),
       url('./assets/icn/MaterialIcons-Regular.woff') format('woff'),
       url('./assets/icn/MaterialIcons-Regular.ttf') format('truetype');
}

.mi {
  font-family: 'Material Icons';
  font-style: normal;
  /* font-size: 24px; */  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

