<h2>Sign-In ..!</h2>
<form
  [formGroup]="_formGrp"
  class="cl-FormSection"
  novalidate>
    <div class="form-group">
      <div class="row">
          <label
            class="cl-AnimatedLabel"
            for="usrId">
            User Id:
          </label>
          <input
            type="text"
            name = "usrId"
            class="form-control"
            formControlName="_usrId">
        </div>
        <div class="row">
            <label
            class="cl-AnimatedLabel"
            for="pwd">
            Password:
          </label>
          <input
            type="password"
            name = "pwd"
            class="form-control"
            formControlName="_pwd">
        </div>
        <div class="row"></div>
        <div class="row">
          <input
          type="submit"
          value="Sign-In"
          [disabled]="!_formGrp.valid"
          >
        </div>
  </div>
  <p>{{(usrId)}}</p>
  <p>{{(pwd)}}</p>
  <a routerLink="/usrAuth/signup" routerLinkActive="active">Sign Up</a>
  <a routerLink="/libMngr" routerLinkActive="active">Lib</a>

    </form>
