<div class="cl-ListNodeContainer gr1">
    <!-- <h5>{{this.index}}</h5> -->
  <div class="gr1-prj-prod-type">
      {{this.prod_Type}}
  </div>
  <div
  class="gr1-prj-num"
  (click)="this.onActionTrigger(1)" >
      {{this.prjNumber_nonSeq}}<span class="seqHighlight">{{this.prjNumber_seq}}</span>
  </div>
  <div class="gr1-prj-descr">
      {{this.prjDescription}}
  </div>
  <div class="gr1-prj-contractor">
Mack rides
  </div>

  <!-- <h6>{{p.rev.on}}</h6> -->


</div>

<!--

            <h2
            routerLink = "/libMngr/udt/editUDT/+{{udtNode.ident.idx}}"
            routerLinkActive="active">
              {{udtNode.plcTag.name}}
            </h2>
-->
