
* {
  box-sizing: border-box;
}


.cl-ListNodeContainer
{
  /* display: block; */
  height: 100%;
  width: auto;
  margin: 2px;
  padding: 10px;
  /* background-color: rgb(247, 247, 247); */
  background-color: rgb(77, 77, 77);

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cl-ListNodeContainer:hover
{
  transform: translateX(-5px);
}

.cl-IsSelected
{
  border: 1px solid rgb(4, 172, 250);
  background-color: rgb(255, 255, 255);

}

/* ------------  Grid layout ---------------*/
.gr1 {

  display: grid;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  grid-template-rows: minmax(2px, auto);

  grid-template-areas:
  "gr1-prj-contractor gr1-prj-contractor  gr1-prj-prod-type  gr1-prj-prod-type"
  /* "gr1-prj-descr gr1-prj-descr gr1-prj-descr gr1-prj-descr" */
  "gr1-prj-num  gr1-prj-num  gr1-prj-num  gr1-prj-num"
  "gr1-prj-descr gr1-prj-descr gr1-prj-descr gr1-prj-descr"
  "gr1-icons gr1-icons gr1-icons gr1-icons"

  /* "gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1" */
  ;

  grid-gap: 2px;
}


.gr1-prj-num
{
  grid-area: gr1-prj-num;


  cursor: pointer;

  color: rgb(114, 114, 114);
  vertical-align: middle;
  font-variant-caps: normal;
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  font-weight: 700;

  line-height: 40px;

  word-wrap: break-word;
}



.seqHighlight
{
  color: rgb(207, 207, 207);
  /* vertical-align: middle; */
  font-variant-caps: normal;
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  font-weight: 700;

  line-height: 40px;

  word-wrap: break-word;
}

.gr1-prj-num:hover,
.seqHighlight:hover
{
  color: rgb(3, 223, 131);
}

.gr1-prj-descr
{
  grid-area: gr1-prj-descr;

  color: rgb(255, 136, 100);

  vertical-align: middle;
  font-variant-caps: small-caps;
  text-transform: lowercase;
  font-size: 14px;
  text-align: left;
  font-weight: 400;

  line-height: 18px;

  word-wrap: break-word;
}

.gr1-prj-prod-type
{
  grid-area: gr1-prj-prod-type;
  color: rgb(117, 188, 255);
  vertical-align: middle;
  font-variant-caps: normal;
  /* text-transform: uppercase; */
  font-size: 0.8rem;
  text-align: right;
  font-weight: 450;

  line-height: 0.85rem;

  word-wrap: break-word;
}

.gr1-prj-contractor
{
  grid-area: gr1-prj-contractor;

  color: rgb(202, 202, 202);
  vertical-align: middle;
  font-variant-caps: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;
  font-weight: 450;

  line-height: 0.85rem;

  word-wrap: break-word;
}

.gr1-icons
{
  grid-area: gr1-icons;

  vertical-align: middle;
  text-transform: lowercase;
  font-size: 24px;
  text-align: right;
  font-weight: 500;

  line-height: 28px;

  word-wrap: break-word;


}

.icn
{
  font-family: 'Material Icons';
  display: inline;
  margin: 0px 2px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(27, 27, 27, 0.897);

  color: rgb(133, 133, 133);

}

.icn:hover
{
  color: rgb(37, 124, 255);
}


/* Responsive layout */
@media screen and (max-width: 600px)
{

  .gr1 {

    display: grid;
    grid-template-columns: 100px repeat(2, 1fr) 100px;
    grid-template-rows: minmax(2px, auto);

    grid-template-areas:
    "gr1-prj-contractor gr1-prj-contractor  gr1-prj-prod-type  gr1-prj-prod-type"
    "gr1-prj-num  gr1-prj-num  gr1-prj-num  gr1-prj-num"
    "gr1-prj-descr gr1-prj-descr gr1-prj-descr gr1-prj-descr"
    "gr1-icons gr1-icons gr1-icons gr1-icons"

      ;

    grid-gap: 2px;
  }

}


