
* {
  box-sizing: border-box;
}


.cl-ListNodeContainer
{
  /* display: block; */
  height: 100%;
  width: auto;
  margin: 5px;
  padding: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.cl-ListNodeContainer:hover
{
  transform: translateX(-5px);
}

.cl-IsSelected
{
  border: 1px solid rgb(4, 172, 250);
  background-color: rgb(255, 255, 255);

}

/* ------------  Grid layout ---------------*/
.gr1 {

  display: grid;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  grid-template-rows: minmax(2px, auto);

  grid-template-areas:

  "gr1-prj-prod-type gr1-prj-prod-type  gr1-prj-prod-type  gr1-prj-prod-type "
  "gr1-prj-num  gr1-prj-num  gr1-prj-num  gr1-prj-num"
  "gr1-prj-descr gr1-prj-descr gr1-prj-descr gr1-prj-descr"
  "gr1-prj-contractor gr1-prj-contractor gr1-prj-contractor gr1-prj-contractor"
  /* "gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1" */
  ;

  grid-gap: 2px;
}


.gr1-prj-num
{
  grid-area: gr1-prj-num;
}

.gr1-prj-descr
{
  grid-area: gr1-prj-descr;
}

.gr1-prj-prod-type
{
  grid-area: gr1-prj-prod-type;
}

.gr1-prj-contractor
{
  grid-area: gr1-prj-contractor;
}


/* Responsive layout */
@media screen and (max-width: 600px)
{

}
