
.cl-FormSection
{
 
    display: block;
    height: 100%;
    width: auto;
    margin: 1px;
    padding: 5px;
    border: 1px solid rgba(240, 15, 15, 0.705);
}

h2{
    font-variant-caps: small-caps;
    border-bottom: 2px solid rgba(0,0,0,0.19);
    font-size: 32px;
    text-align: left;
    margin: 1%;
}

  .cl-ModalDialog
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;

      padding-left : 1%;padding-right : 1%;
      padding-top : 1%;padding-bottom : 1%;
      background-color: white;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      z-index: 1;

  }

.cl-AnimatedLabel
{
    /*display: none;*/
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    padding: 5px;
}
input[type=text]
{
    align-self: center;
    margin: 1px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-weight: 450;
    font-variant: normal;
    min-height: 32px;
    display: block;
    border: 1px solid rgba(98, 99, 98, 0.705);
}

@media screen and (max-width: 400px)
{
    .cl-ModalDialog
    {
        width : auto;
        height : auto;
        margin: 1%;
    }
    .cl-FormSection
    {
        margin: 0%;
    }
}