
<!--Everything must go over modal background-->
<div class="cl-glob-ModalBackground" [style.display]="'block'">
<div class="cl-ModalDialog">


<form 
  [formGroup]="fgLogin" 
  class="cl-FormSection">
<h2>Login to Continue</h2>
  <div class="form-group">
      <label 
        class="cl-AnimatedLabel"
        for="usrId">
        User Id:
      </label>
      <input 
        type="text"
        required
        name = "usrId"
        class="form-control" 
        formControlName="_usrId"
        placeholder="User Id (e.g. kdalal)">

  </div>
  <p>{{(usrId)}}</p>
  
    </form>
    
  </div>
</div>
<!--
<form class="cl-FormGroup">

    <label for="usrId">User Name</label>
<input required  type="text" name="usrId" id="usrId">

</form>
-->