ul.cl-ul-NavigationTileContainer
{
    list-style-type: none;
    overflow: hidden;
    padding-left:5px;padding-right:8px;padding-top:10px;padding-bottom:10px;
    margin: 0;
    background-color: rgba(174, 175, 171, 0.623);
    border-right: 5px solid rgb(226, 241, 12);
    max-width: 25%;
    display: inline-block;
    height: 100%;
    z-index:4;
    vertical-align: auto;
}

a.cl-a-LinkTile
{

    color: yellow;
    text-decoration: none;

    padding-left:10px;padding-right:7px;padding-top:10px;padding-bottom:10px;
    margin: 3px;
    background: rgba(85,88,88,0.9);
   /* min-height: 60px;*/
    width:100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    align-self:auto;
    display: block;

}

li.cl-li-LinkTileGroup
{
    width: 100%;
    /*display: flex;*/
    justify-content: center;
    justify-content: space-around;

/*    justify-content: space-between;
    

    flex-wrap: wrap;
    flex:100%;
*/
    float: left;
    height: 100%;
    min-height: 100%;
}

div.cl-text-LinkHeading
{
    font-variant-caps: petite-caps;
    font-size: 16px;
    font-weight:400;
    border-bottom: 2px solid rgb(111,113,115);
    text-align: left;
    width: 100%;
}

div.cl-text-LinkDesc
{
    font-variant-caps: petite-caps;
    font-size: 12px;
    font-weight:400;
    text-align: left;
    word-wrap: normal;
    width: 100%;
    /*min-height: 75%;*/
    color: rgba(200, 200, 200,1);

    padding-left:5px;
    padding-right:5px;
    padding-top:12px;
    padding-bottom: 12px;
    margin-top : 3px;
    margin-left : 6px;
    margin-right : 5px;
    border-left:   1px solid rgba(245, 245, 245,0.4);

    display: none; /*display: flex;*/
}

a.cl-a-LinkTile:hover
{
cursor:pointer;
color: rgba(22, 22, 25,0.8);
background-color: rgba(255, 228, 25,1);
}

a.cl-a-LinkTile:hover div.cl-text-LinkDesc
{
    border-left:   1px solid rgba(24, 24, 24,0.4);
    color: rgba(22, 22, 25,0.95);
    font-weight:400;
    display: flex;
}
a.cl-a-LinkTile:hover div.cl-text-LinkHeading
{
border-bottom: 2px solid rgba(44,44,44,0.6);
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px)
{
    a.cl-a-LinkTile
    {
        width: 100%;
    }
    ul.cl-ul-NavigationTileContainer
    {
        max-width:  100%;
    }
}
