
        <div class="cl-ListNodeContainer gr1"
        (click)="isControlVisible = !isControlVisible"
        [class.cl-IsSelected] = "isControlVisible"
        [class.cl-IsF] = "udtNode.plcTag.isF" >

          <div class="gr1-name">
            <h2>{{udtNode.plcTag.name}}</h2>
          </div>

          <div class="gr1-comment">
            <p class="cl-Comment"> {{udtNode.plcTag.comment.en}} </p>
          </div>

          <div class="gr1-hr1"></div>

          <div class="gr1-revnum">
            <p class="cl-label">Revision: </p>
            <p class="cl-desc desc-default"> {{udtNode.rev.major}} | {{udtNode.rev.minor}} </p>
          </div>
          <div class="gr1-revtime">
            <!-- <p class="cl-label">Last Modified: </p> -->
            <p class="cl-desc desc-default"> {{udtNode.rev.on}}</p>
          </div>
          <div class="gr1-size">
            <div>
                <p class="cl-label">Block_Size: </p>
                <p class="cl-desc desc-default">{{udtNode.vars.length}} Variables |  {{this.refreshBlockSize / 8}}  Bytes</p>
            </div>
          </div>
          <div class="gr1-dep">
              <p class="cl-label">Direct Dependencies: </p>
              <p class="cl-desc"
              [class.desc-good] = "udtNode.plcTag.dataTypeHelper.depCount <= 0"
              [class.desc-warn] = "udtNode.plcTag.dataTypeHelper.depCount > 0"
              > {{udtNode.plcTag.dataTypeHelper.depCount}}
            </p>
          </div>



                    <div class= "gr1-controls" [style.display]="isControlVisible ? 'inline' : 'none'">
<!--
                      <div class="icn"
                      (click)="this.onActionTrigger(1)">&#xe429;</div>

                      <div class="icn"
                      (click)="this.onActionTrigger(2)">&#xe335;</div> -->
                          <libForm-ActionTrigger
                          (execOnTrigger)="this.onActionTrigger(1)"
                          [actionIcon] = "'&#xe429;'"
                          [actionText]= "'EDIT'"
                          [disableControl]="false"
                          [css]="['rgb(16, 130, 236)','light','s']"></libForm-ActionTrigger>

                          <libForm-ActionTrigger
                          (execOnTrigger)="this.onActionTrigger(2)"
                          [actionIcon] = "'&#xe335;'"
                          [actionText]= "'BORROW'"
                          [disableControl]="false"
                          [css]="['rgb(244, 244, 66)','light','s']"></libForm-ActionTrigger>
                      </div>

          </div>




