
* {
  box-sizing: border-box;
}


.cl-ListNodeContainer
{
  display: block;
  height: 100%;
  width: auto;
  margin: 5px;
  padding: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.cl-ListNodeContainer:hover
{
  transform: translateX(-5px);
}

.cl-IsSelected
{
  border: 1px solid rgb(4, 172, 250);
  background-color: rgb(255, 255, 255);

}
.cl-IsF
{
  border-left: 3px solid rgb(250, 234, 4);
  background-color: rgb(255, 255, 255);

}




.cl-ControlContainer
{
  margin: 0px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.445);

  display: block;
  /*
  background-color: rgba(141, 138, 138, 0.445);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-top: 1px solid rgb(187, 183, 183);
  */

}

h2
{
  margin: 0px;
  font-weight: 300;
  margin-bottom: 0px;
  border-bottom: 1px solid rgb(160, 160, 160);
  width: 100%;
  word-wrap: break-word;
  font-variant-caps: small-caps;
  font-size: 20px;
}
h2:hover
{
  color: rgb(0, 173, 253);
  font-weight: 500;
}



.cl-button
{
  margin: 10px;
  padding: 1px;
  line-height: 50px;
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border : none;
  border-radius: 50%;
  box-shadow: 4px 3px 12px 0 rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;

  text-shadow: -1px 1px 3px rgb(41, 41, 41);
  background-color: rgb(61, 61, 61);
}

.cl-button-edit
{

  color: rgb(25, 163, 255);
}
.cl-button-delete
{
  color: rgb(253, 81, 51);

}


.cl-Comment
{
  font-variant: normal;
  margin: 0px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: rgb(105, 107, 103);
}
.cl-label
{
  display: inline-block;
  margin: 0px;
  font-weight: 400;

  color: rgb(26, 26, 26);
  font-size: 12px;
  line-height: 14px;
}
.cl-desc
{
  font-variant: normal;
  display: inline-block;
  margin: 0px;
  margin-left: 5px;

  font-weight: 400;
  color: rgb(105, 107, 103);

  font-size: 12px;
  line-height: 14px;
}

.cl-button:hover
{
  animation: shake 0.2s;
  /* When the animation is finished, start again */
  animation-iteration-count: 2; /*infinite;*/
}

