<div class="cl-ListNodeContainer" [class.cl-IsSelected] = "isControlVisible" [class.cl-IsF] = "udtNode.plcTag.isF" >

        <div class="row">
                <div
                (click)="isControlVisible = !isControlVisible"
                class = "leftcolumn"
                [class.clWidth100Perc] =  "!isControlVisible"
                [class.clWidth85Perc] =  "isControlVisible"
                >
                  <h2> {{udtNode.plcTag.name}}</h2>
                  <p class="cl-Comment"> {{udtNode.plcTag.comment.en}} </p>
                  <p class="cl-label">Revision: </p>
                  <p class="cl-desc"> {{udtNode.rev.major}} | {{udtNode.rev.minor}} </p>
                </div>

                <div
                [class.clWidth15Perc] =  "isControlVisible"
                [class.rightcolumn] =  "isControlVisible">
                  <div class= "cl-ControlContainer" [style.display]="isControlVisible ? 'block' : 'none'">
                        <input class="cl-button cl-button-edit"
                        type="submit"
                        routerLink = "/libMngr/udt/editUDT/+{{udtNode.ident.idx}}"
                        routerLinkActive="active"
                        value = "&#x2636;"
                        >
                    </div>
                </div>
          </div>
        </div>






