
* {
  box-sizing: border-box;
}


.cl-ListNodeContainer
{
  /* display: block; */
  height: 100%;
  width: auto;
  margin: 5px;
  padding: 15px;

  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;

  background-color: rgb(83, 83, 83);

}

.cl-ListNodeContainer:hover
{
  transform: translateX(-5px);
}

.cl-IsSelected
{
  border: 1px solid rgb(4, 172, 250);
  /* background-color: rgb(255, 255, 255); */

}
.cl-IsF
{
  border-left: 3px solid rgb(250, 234, 4);
  /* background-color: rgb(255, 255, 255); */

}


h2
{
  margin: 0px;
  font-weight: 500;
  margin-bottom: 0px;
  color: rgb(187, 187, 187);
  /* width: 100%; */
  word-wrap: break-word;
  font-variant-caps: small-caps;
  font-size: 0.9rem;
  font-variant: normal;

}
h2:hover
{
  color: rgb(0, 173, 253);
  font-weight: 500;
}




.cl-Comment
{
  font-variant: normal;
  margin: 0px;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 15px;
  color: rgb(184, 141, 86);

  word-wrap: break-word;
}
.cl-label
{
  display: inline-block;
  margin: 0px;
  margin-right: 5px;
  font-weight: 400;

  color: rgb(156, 156, 156);
  text-transform: uppercase;
  font-variant-caps: small-caps;
  font-size: 9px;
  /* line-height: 1px; */
  vertical-align: middle;
}
.cl-desc
{
  font-variant: normal;
  display: inline-block;
  margin: 0px;


  font-weight: 500;

  font-size: 10px;
  /* line-height: 1px; */
  vertical-align: middle;
  word-wrap: break-word;

}

.desc-default {
  color: rgb(0, 185, 218);
}
.desc-good {
  color: rgb(9, 174, 86)
}
.desc-warn {
  color: rgb(255, 110, 110);
}

.text-right
{
  vertical-align: baseline;
  text-align: right;
  float: right;
  font-size: 11px;
  font-weight: 300;
  border : none;
  display: flex;
  line-height: 12px;
}

.icn
{
  font-family: 'Material Icons';
  display: inline;
  margin: 0px 2px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(27, 27, 27, 0.897);

  color: rgb(133, 133, 133);

}


/* ------------  Grid layout ---------------*/
.gr1 {

  display: grid;
  grid-template-columns: repeat(4, minmax(75px,1fr)) 100px;
  grid-template-rows: minmax(2px, auto);

  grid-template-areas:

  "gr1-name gr1-name gr1-name gr1-name gr1-name"
  "gr1-comment gr1-comment gr1-comment gr1-comment gr1-comment"
  "gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1 gr1-hr1"
  "gr1-revnum gr1-revtime gr1-dep gr1-size gr1-size"
  "gr1-controls gr1-controls gr1-controls gr1-controls gr1-controls"
  ;

  grid-gap: 2px;
}

.gr1-revtime      {  grid-area: gr1-revtime;    }
.gr1-revnum      {  grid-area: gr1-revnum;    }
.gr1-size      {  grid-area: gr1-size;    }
.gr1-dep      {  grid-area: gr1-dep;    }
.gr1-name      {  grid-area: gr1-name;    }
.gr1-comment      {  grid-area: gr1-comment;    }

.gr1-hr1
{
  grid-area: gr1-hr1;
  border-bottom: 1px solid rgb(112, 112, 112);
}

.gr1-controls
{
  grid-area: gr1-controls;
  justify-content: right;
  justify-self: end;

  margin: 0px;
  padding: 5px;

  vertical-align: middle;
  text-transform: lowercase;
  font-size: 24px;
  text-align: right;
  font-weight: 500;

  line-height: 28px;

  word-wrap: break-word;
}

.gr1-size
{
  justify-self: end;
}

/* Responsive layout */
@media screen and (max-width: 600px)
{

    .gr1 {

      display: grid;
      grid-template-columns: 1fr 100px;
      grid-template-rows: minmax(2px, auto);

      grid-template-areas:
      "gr1-controls gr1-controls"
      "gr1-name gr1-name"
      "gr1-comment gr1-comment"
      "gr1-hr1 gr1-hr1"
      "gr1-revtime gr1-revnum"
      "gr1-size gr1-size"
      "gr1-dep gr1-dep"
      ;

      grid-gap: 2px;
    }

      .gr1-size
      {
        justify-self: start;
      }
      .gr1-revnum
      {
        justify-self: end;
      }
}
