
* {
  box-sizing: border-box;
}
/*Navigation container styles*/
.posFixed-TopRight
{
  z-index: 1001; /* Sit on top */
  position: fixed; /* Set  to fixed position */
  top: 4px; /* Position the navbar at the top of the page */
  right: 4px;
}

.posRelative
{
  position: relative; /* Set  to relative position */
}
/* Covers active page transperantely and contains the navigation control*/
.cl-div-ModalBackground
{

  cursor:pointer;
  padding: 0%;
  display:none; /*none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

  /*Animate Slide in*/
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.cl-ul-NavigationTileContainer
{
    /* vertical-align: middle; */
    z-index: 1001; /* Sit on top */
    right: 0;
    top: 0;
    position: fixed;
    list-style-type: none;
    overflow: none;
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
    padding-bottom:5px;
    margin: 0;
    margin-top: 0%;
    margin-bottom: 10px;
    background-color: rgb(233, 233, 233);
    width: 400px;
    height: 100%;
    display: block;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.604);

      /*Animate Slide in*/
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}

a {

    text-decoration: none;
    padding: 10px 10px;
    margin: 5px 2px;

    background: rgba(62, 63, 63, 0.9);

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    display: block;
    width: 100%;

}

.LinkTileGroup
{
  left: 0;
  top: 0;
  min-height: 100%;
  margin: 0px;
  margin-top: 10px;
  padding-right: 2px; padding-left: 2px;
  padding-top: 2px;  padding-bottom: 2px;

  justify-content: space-around;
  display:block;

    width: auto;

}

.cl-text-LinkHeading
{

  font-variant-caps: normal;
  text-transform: uppercase;

  font-size: 14px;
    font-weight:400;

    text-align: left;
    /* width: 100%; */

    display: inline;
}

.icn
{
  text-shadow: 2px 2px 3px rgba(27, 27, 27, 0.897);
  text-transform: lowercase;
  font-variant: small-caps;

  font-size: 24px;
  font-weight: 700;

  font-family: 'Material Icons';

    text-align: left;
}





a:hover
{
  cursor:pointer;
  /* color: rgb(128, 128, 128); */
  /* background-color: rgb(0, 136, 247); */
  transform: translateX(-5px);
  border-bottom: 3px solid rgb(255, 251, 0);
}

.navHeadText
{
  left: 0;
  top: 0;
  margin: 0px;
  margin-top: 75px;
  padding-right: 2px; padding-left: 2px;
  padding-top: 2px;  padding-bottom: 2px;

  color: rgb(194, 194, 194);
  vertical-align: middle;
  font-variant-caps: normal;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;

  border-bottom: 3px solid rgb(194, 194, 194);
  word-wrap: normal;
}





/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{
    a .LinkTileGroup
    {
        width: 100%;
    }
   .LinkTileGroup
    {
        width: 100%;
    }
    .cl-ul-NavigationTileContainer
    {
        width:  90%;
        height: 100%;
    }
}



.img-menu-emb
{

  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  z-index: 999;
  top: 10;
  float: right;
  box-shadow: -1px 3px 8px 1px rgba(0, 0, 0, 0.404);
  background: rgba(5, 155, 255, 0.904);
  color: rgb(66, 66, 66);
  border-radius: 50%;
  height: 56px;
  line-height: 56px; /* same as height! */
  width: 56px;
  background-repeat: no-repeat;
  font-size: 36px;
  font-weight: 400;


/*
Chrome friendly - Chrome doesn't consider the text transform property for rendering

So it screws up verticle alignment of the characters (specially in buttons where Material Icon Fonts (unicode symbols)
are used.

This class will transform the text to lowercase and make it small-capped.
*/
  text-transform: lowercase;
  font-variant: small-caps;
}
.img-menu-emb:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.2s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1; /*infinite;*/
}

